<!-- Комментарии -->
{% for item in page %}
<div class="card col-xl-11 mb-3 mt-1 shadow-sm">
    <div class="card-body">
        <p class="card-text">
            <h5 class="mt-0">
                <a href="{% url 'profile' item.author.username %}"
                   name="comment_{{ item.id }}">
                    {{ item.author.first_name}}
                </a>
            </h5>
            <small>{{ item.text|linebreaksbr }}</small><br>
            <i><small class="text-muted">{{ item.created}}</small></i>  
        </p>
    </div>     
</div>
{% endfor %}

{% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
{% endif %}



<!-- Форма добавления комментария -->
{% load user_filters %}

{% if user.is_authenticated %}
<div class="media card mb-4 col-xl-12">
    <form method="post" action="{% url 'add_comment' post.author post.id %}" style="width: 100%">
        {% csrf_token %}
        <h5 class="card-header">Добавить комментарий:</h5>
        <div class="card-body">
            <div class="form-group">
                {{ form.text|addclass:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </form>
</div>
{% endif %}